.profile-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
.profile-picture {
    border-radius: 50%;
}
.image-container {
    padding: 20px 16px;
}
  .title {
    color: grey;
    font-size: 18px;
  }

.profile-card  button {
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .profile-button {
    background-color: blue;
}
.profile-card p {
    padding-top: 8px;
}
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    transform: translateY(-4px);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 200ms ease-in-out ;
    transition-delay: 150ms;
  }
.linkedin {
    border: 3px solid rgb(11, 47, 146);

    background-color: rgb(12, 51, 158);
}
.website {
    border: 3px solid rgb(143, 12, 12);

    background-color: rgb(146, 11, 11);
}
.email {
    border: 3px solid rgb(27, 3, 3);

    background-color: rgb(20, 1, 1);

}
.phone {
    border: 3px solid rgb(15, 145, 11);

    background-color: rgb(15, 146, 11);

}
.instagram {
    border: 3px solid #e6683c;

    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  
}